.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 121px;
  top: 0;
  left: 0;
  right: 0;
  font-family: Jost;
  z-index: 1070;
}
.header__row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.logo-text {
  font-size: 36px;
  font-weight: 500;
  color: #ffffff;
}
.nav-list {
  margin-left: auto;
  display: flex;
  width: 100%;
  max-width: 527px;
  justify-content: space-between;
}
.list-item {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  transition: color 0.5s 0s;
}
.social-links {
  padding-left: 25px;
  display: flex;
  width: 100%;
  max-width: 112px;
  justify-content: space-between;
}
.social-item {
  display: flex;
  height: 25px;
  width: 25px;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 50%;
}
.list-item :hover {
	color: #D6CEE1;
}
.burger-menu {
	display: none;
}

@media (max-width: 768px) {
	.header {
  height: 52px;
	}
	.header__row{
		max-width: 337px;
	}
	.nav-list, .social-links {
		display: none;
	}
	.burger-menu {
  background: none;
  display: block;
  position: relative;
  overflow: hidden;
  width: 28px;
  height: 28px;
  font-size: 0;
}
.burger-menu span {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  height: 3px;
  background: #ffffff;
}
.burger-menu span::before, .burger-menu span::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  content: "";
}
.burger-menu span::before {
  top: -10px;
}
.burger-menu span::after {
  bottom: -10px;
}
.burger-anim span::before, .burger-anim span::after {
	transition-duration: 0.3s, 0.3s;
	transition-delay: 0.3s, 0s;
}
.burger-anim span::before {
	transition-property: top, transform;
}
.burger-anim span::after {
	transition-property: bottom, transform;
}
.burger-anim:focus span {
  background: none;
}
.burger-anim:focus span::before, .burger-anim:active span::after {
  transition-delay: 0s, 0.3s;
}
.burger-anim:focus span::before {
	top: 0;
	transform: rotate(45deg);
}
.burger-anim:focus span::after {
	bottom: 0;
	transform: rotate(-45deg);
}
}