@import "normalize.css";
@import "base.css";
@import "container.css";
@import "header.css";
@import "footer.css";
.landing-page {
  flex: 1 1 auto;
}
.main {
  color: #ffffff;
}
.main__row {
  display: flex;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 1457px;
  justify-content: space-between;
  padding-bottom: 210px;
}
.main-body {
  display: flex;
  flex-direction: column;
  padding-top: 166px;
  width: 100%;
  max-width: 560px;
}
.body__title {
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 5px;
}
.body__subtitle {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 39px;
}
.body__buttons {
  display: flex;
  width: 100%;
  max-width: 421px;
  justify-content: space-between;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 53px;
  border: 2px solid #ffffff;
  color: #ffffff;
  border-radius: 50px;
}
.button-text {
  font-size: 17px;
  font-weight: 700;
  padding-left: 5px;
}
.functional {
	color: #000000;
}
.func__col {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 1439px;
	margin: 0 auto;
	padding-bottom: 74px;
}
.func-top {
	align-self: center;
	width: 100%;
	max-width: 424px;
	text-align: center;
	padding-bottom: 101px;
}
.top-title {
	font-size: 46px;
	font-weight: 500;
	margin-bottom: 23px;
}
.top-subtitle {
	font-size: 18px;
	color: #ABABAB;
}
.content__row {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-bottom: 74px;
}
.content__col {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
	max-width: 437px;
}
.item {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 437px;
}
.first-col .item__body {
	text-align: right;
	padding-right: 26px;
}
.second-col .item__body {
	text-align: left;
	padding-left: 26px;
}
.second-col >.item .item-image {
	order: -1;
}
.body-title {
	font-size: 22px;
	line-height: 27px;
	font-weight: 500;
}
.body-subtitle {
	font-size: 18px;
	line-height: 22px;
	color: #B0B0B0;
}
.round-block {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90px;
	height: 90px;
	background: linear-gradient(180deg, #8253D8 0%, #D05DDE 100%);
	border-radius: 50%;
}

@media (max-width: 1200px) {
    .landing-page {

	 }
}
@media (max-width: 992px) {
    .landing-page {

    }
}
@media (max-width: 768px) {
	.landing-page {
		padding-bottom: 206px;
	}
.main__row {
  justify-content: center;
  flex-direction: column;
  max-width: 335px;
  padding-bottom: 348px;
}
.main-body {
  padding-top: 37px;
  text-align: center;
}
.body__title {
  font-size: 28px;
  padding-bottom: 9px;
  line-height: 35px;
}
.body__subtitle {
  font-size: 18px;
  padding-bottom: 24px;
  line-height: 22px;
}
.body__buttons {
	flex-direction: column;
	align-items: center;
}
.button {
	margin-bottom: 16px;
}
.main__image {
	align-self: center;
  max-width: 271px;
  max-height: 325px;
}
.func-top {
	padding-bottom: 14px;
}
.top-title {
	font-size: 36px;
	line-height: 52px;
	margin-bottom: 8px;
}
.top-subtitle {
	padding-left: 2px;
	font-size: 14px;
	line-height: 17px;
}
.content__row {
	flex-direction: column;
	padding-bottom: 0;
}
.content__col {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
	max-width: 437px;
}
.first-col {
	padding-bottom: 55px;
}
.item:not(.last-item) {
	margin-bottom: 41px;
}
.first-col .item__body {
	text-align: left;
	padding-left: 13px;
	padding-right: 0;
}
.second-col {
	padding-top: 51px;
}
.second-col .item__body {
	text-align: left;
	padding-left: 26px;
}
.first-col >.item .item-image {
	order: -1;
}
.second-col >.item .item-image {
	order: -1;
}
.body-title {
	font-size: 18px;
	line-height: 22px;
}
.body-subtitle {
	font-size: 14px;
	line-height: 17px;
	color: #B0B0B0;
}
.round-block {
	width: 60px;
	height: 60px;
}
.func__col {
	padding: 0;
}
}